a {
  text-decoration: none;
}

body {
  margin: 0px; 
}

ul {
  margin: 0px;
}

math {
  font-family: "STIX Two Math", "Latin Modern Math", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.vcenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.csci381 {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 1400px;
}

.csci381-textlink {
  font-weight: bold;
  color: #6667AB
}

.csci381-textlink:hover {
  font-weight: bold;
  color: orangered;
}

.csci381-button {
  background-color: whitesmoke
}

.csci381-locked {
  background-color: lightgray
}

.csci381-button:hover {
  background-color: rgb(248, 224, 103)
}

.csci381-welcome {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.csci381-subtitle {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 24px;
}

.csci381-question {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: crimson
}

.csci381-upcoming {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.csci381-course-number {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.csci381-text {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.csci381-dlamp-promo {
  background-color: #d1def7;
  padding: 5px;
  color: #da5820;
}

.csci381-dlamp-promo:hover {
  background-color: rgb(248, 224, 103);
}

.dlamp-layout-narrow {
  position: relative;
  height: 100%;
  width: 100%;
}

.dlamp-sidebar {
  margin-left: 50px;
  margin-top: 50px;
}

.dlamp-top-container {
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
}

.dlamp-bottom-container {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
}

.dlamp-layout-wide {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.dlamp-content {
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 50px;
}

.dlamp-left-container {
  left: 0;
  width: 15%;
}

.dlamp-right-container {
  right: 0;
  width: 85%;
}


.dlamp-text,
.dlamp-menubar-link,
.pop-question {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}


.dlamp-image {
  width: 100%;
  height: auto;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
}

.dlamp-focus-title {
  font-family: "Bebas Neue";
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  text-align: center;
}

.dlamp-focus-container,
.proof-walkthru-container {
  margin-top: 10px;
  padding: 10px;
}


.dlamp-prologue-header,
.dlamp-logo-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}



.dlamp-logo-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}


.dlamp-menubar-link:hover {
  background-color: coral;
  color: white
}

.dlamp-topbar {
  position: fixed;
  top: 0;
  width: 100%
}

.dlamp-prologue-bubble {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.dlamp-footer {
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dlamp-milestone {
  text-align: center;
  padding: 5px;
}

.dlamp-section-spacer {
  height: 50px;
  width: 100%;
}

.dlamp-paragraph-spacer {
  height: 20px;
  width: 100%;
}

.dlamp-header1 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 2.7em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dlamp-header2 {
  font-family: "Rowdies", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.3em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.equation {
  font-family: "STIX Two Math", "Latin Modern Math", sans-serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-content: center;
}

.equation-contents {
  font-family: "STIX Two Math", "Latin Modern Math", sans-serif;
  font-weight: 100;
  font-style: normal;
  flex-grow: 0;
  flex-shrink: 0;
}

.equation-rest {
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.mm-basic {
  background-color: whitesmoke;
  color: black;
}

.mm-weight-0,
.mm-value-0 {
  background-color: #EA64BE;
  color: white;
}

.mm-weight-1,
.mm-value-1 {
  background-color: #5CC0A0;
  color: white;
}

.mm-weight-2,
.mm-value-2 {
  background-color: #65D5FA;
  color: black
}

.mm-dot-product {
  background-color: gold;
  color: black
}

.pop-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.pop-bullet {
  width: 40px;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "Herculanum", sans-serif;
  font-size: 2.2em;
  padding-right: 20px;
}

.pop-question {
  width: 200px;
  height: inherit;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;
  padding-right: 20px;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.pop-answer {
  width: 200px;
  height: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  border-style: dashed;
  padding: 10px;
}









.proof-walkthru-text {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}


.proof-header {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 0.8em;
}

.proof-walkthru-container {
  cursor: default;
}

.proof-inactive {
  cursor: default;
}

.proof-highlight {
  cursor: pointer;
}

.proof-walkthru-bar {
  cursor: pointer;
  padding: 10px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
}

.proof-walkthru-topbar {
  padding-bottom: 20px;
}

.proof-justification {
  width: 96%;
  flex-grow: 1;
  height: auto;
  font-size: 0.8em;
  text-align: center;
  border-style: none;
}

.proof-spacer {
  width: 0%;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}

.proof-equals {
  width: 10%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: 'Courier New';
  font-weight: lighter;
  text-align: center;
}

.proof-step-first {
  flex-grow: 1;
  width: 80%;
  height: auto;
  text-align: left;
  padding-top: 20px;
}


.proof-navigation-arrow {
  width: auto;
  font-size: 1em;
  text-align: center;
  border-style: none;
  padding-right: 5px;
}

.proof-step {
  width: 89%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proof-step-prev {
  width: 89%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proof-step-next {
  height: auto;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.proof-step-next-contents {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: content;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  /* For Safari */
  max-height: calc(100vh - 40px);
  /* Give table of contents a scrollbar */
  overflow: auto;
}

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  &-checkbox {
    display: none;
  }

  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    margin: 0;
  }

  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }

    &:before {
      content: "Yes";
      text-transform: uppercase;
      padding-left: 10px;
      background-color: #f90;
      color: #fff;
    }
  }

  &-disabled {
    background-color: #ddd;
    cursor: not-allowed;

    &:before {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }

  &-inner:after {
    content: "No";
    text-transform: uppercase;
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
  }

  &-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }

  &-checkbox:checked+&-label {
    .toggle-switch-inner {
      margin-left: 0;
    }

    .toggle-switch-switch {
      right: 0px;
    }
  }
}